<div class="contianer">
    <br>
    <h4>{{question.content}}</h4>
      <p>UserName: {{question.author}}</p>
      <p>Additional Notes: {{question.notes}}</p>
      <br>
    <button {{action 'delete' question}}>Delete</button>
    <br>
    <br>
    <hr>
</div>
