<div class="contianer">
    <br>
    <h4>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h4>
      <p>UserName: {{question.author}}</p>
      <br>
    {{update-question question=question update=update}}

    <br>
    <br>
    <hr>
</div>
