<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <li class="active">{{#link-to 'index'}}<span class="glyphicon glyphicon-tent" aria-hidden="true"></span> Home{{/link-to}}</li>
  </div>
  <div class= "container cart">
  </div>
</nav>
<div class="jumbotron">
    <h2 id="title">Ember Message Board</h2>
</div>
<div class="container">
  {{outlet}}
</div>
