<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </div>
</nav>
<div class="jumbotron">
    <h2 id="title">Ember Message Board</h2>
</div>
<div class="container">
  {{outlet}}
</div>
