{{#each model.questions as |question|}}
  {{question-tile question=question update="update"}}
{{/each}}

<div class="container update">
  {{update-question question=question update="update"}}
</div>

<div class="container">
  {{new-question save2="save3"}}
</div>
